extends layout

include mixins/_productCard

block content 
    .inner
        //- pre #{h.dump(products)}
        h1.product__pageTitle #{title}
        .products
            each product in products
                +productCard(product)